fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
pydantic[email]
pandas
requests
apscheduler
asgi-correlation-id
passlib[bcrypt]
python-jose[cryptography]
python-multipart
email-validator